{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Filter Pokemon By Type{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="type">Type</label>
    <input name="type" id="type" value="{{ request.form['type'] }}" required>
        <input type="submit" value="Apply">
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
            <h1>{{ post[0]}} {{ post[1] }}</h1>
            <div class="about"> {{ post[2] }}</div>
        </div>
      </header>
      <p class="body">{{ post[3] }}</p>
        <p class="body">{{ post[4] }}</p>
        <p class="body">{{ post[5] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  </form>
{% endblock %}